<div class="title">Data for {{getDate(null)}}</div>
<app-country-table [countryData]="countryData"></app-country-table>
<div class="search">
  <mat-form-field class="example-form-field">
    <mat-label>Search State</mat-label>
    <input matInput type="text" [(ngModel)]="value">
    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<div *ngFor="let state of statesData | filter:value" class="states-container">
  <app-state-table [stateData]="state"></app-state-table>
</div>
